.widget.projects.projects-page {
    flex-direction: row;
    justify-content: start;
    &:hover {
        transform: scale(1);
    }
}
.projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1200px;
    justify-content: center;
}

.projects-container .projects-header {
    width: 100%;
}

.projects-container .projects-header .widget {
    padding: 10px 46px;
}

.projects-container .projects-header .widget.projects {
    gap: 10px;
}

.projects-container .projects-header .titles .title {
    font-size: 1.2em;
}

.projects-container .projects-header .icon {
    padding: 20px;
}

.projects-container .projects-header .icon .project-icon {
    width: 40px;
    height: 40px;
}

/* PROJECT CSS */
.projects-container .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.projects-container .projects .project {
    border-bottom: 0;
    display: grid;
    grid-template-areas: "project-info project-images";
    justify-content: start;
    align-items: center;
    gap: 0px;
}

.projects-container .projects .project .project-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projects-container .projects .project .project-info .project-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.projects-container .projects .project .project-info .project-title {
    font-size: 1.4em;
    color: var(--accent-color);
}
.projects-container .projects .project .project-info .project-description {
    font-size: 1em;
    line-height: 1.5em;
    color: var(--text-color);
    text-align: justify;
}
.projects-container .projects .project .icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-out;
    &:hover {
        transform: scale(1.2);
    }
}

.projects-container .projects .project .project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.projects-container .projects .project .project-images .gallery-item img {
    width: auto;
    height: 100px;
    object-fit: fill;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

.projects-container .projects .modal {
    display: none;
    position: fixed;
    z-index: 1002;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container .projects .modal-content {
    margin: auto;
    display: block;
}
.projects-container .projects .modal-image {
    margin: auto;
    display: block;
    width: 100%;
    max-width: calc(100vw * 0.80);
    border-radius: 5px;
}

.projects-container .projects .modal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: var(--accent-color);
    padding: 10px 0;
    height: 150px;
  }
.projects-container .projects .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
  
.projects-container .projects .modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgba(var(--accent-color-rgb), 0.5);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    &:hover{
        color: var(--accent-color);
        text-decoration: none;
        cursor: pointer;
    }
}


.projects-container .projects .project .project-info .project-languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}

.projects-container .projects .project .project-info .project-languages .language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 0.8em;
}
.projects-container .projects .project .project-info .project-languages .language .svg-icon {
    fill: var(--accent-color);
    width: 20px;
    height: 20px;
}



/* MEDIA QUERIES */
@media (max-width: 970px) {
    .projects-container .projects .project {
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-template-areas: 
        "project-info"
        "project-images";
        gap: 30px;
    }
    .projects-container .projects .project .project-images {
        justify-content: center;
    }
    .projects-container .projects .project .project-info .project-languages {
        justify-content: center;
    }
}