/* GOOGLE FONTS STYLES */
.ubuntu-light {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: italic;
  }




/* ACTUAL STYLES */

:root {
  --background-color: #22232e;
  --accent-color: #fcdf59;
  --primary-color: #292a38;
  --text-color: #f8f8f4;
  --highlight-color: rgba(224, 224, 224, 0.05);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

body.first-load{
  animation: fadeIn 1.2s ease forwards;
  transition: #22232e 0.3s ease, color 0.3s ease;
}

a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
    line-height: 1em;
}

ul {
    list-style: none;
}

.parallax-container{
    background-color: var(--background-color);
    background-image: linear-gradient(to right, var(--highlight-color) 2px, transparent 1px), linear-gradient(to bottom, var(--highlight-color) 2px, transparent 1px);
    background-size: 30px 30px;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

main {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}
.main-container {
  height: 100vh;
}

/* Mobile Hamburger Menu */
.mobile-header {
  display: none;
}
.off-screen-menu{
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: .3s ease;
  z-index: 1000;
  border-left: var(--accent-color) 5px solid;
}
.off-screen-menu a{
  color: var(--text-color);
  padding: 20px;
}
.off-screen-menu.active{
  right: 0;
}

.mobile-navbar {
  padding: 1rem;
  display: flex;
  background-color: var(--primary-color);
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
  z-index: 1001;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


/* Desktop Header */

.header-area {
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--accent-color);
}

.header-area .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}

.name {
  margin: 0;
  padding-inline: 20px;
}

.first-name{
    font-size: 2em;
    font-weight: 700;
    color: var(--accent-color);
    margin: 0;
    padding: 0;
}
.last-name{
    font-size: 2em;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.header-area .navbar {
  margin: auto;
  padding-right: 20px;

}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-area .navbar .menu {
  display: flex;
  align-items: center;
  gap: 49px;
  margin: 0;
  padding: 0;
}

.header-area .navbar .menu li a{
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 26px 0;
  color: var(--text-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.header-area .navbar .menu li a:hover{
  color: var(--accent-color);
  transform: scale(1.1);
}

.header-area .navbar .menu li.active a{
  color: var(--accent-color);
}

.spacer {
  display: inline-block;
  padding: 12px 30px;
}

.content-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px
}

.content-container .about-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "about about prosoc"
    "toolkit toolkit toolkit"
    "testi testi testi";
    gap: 30px;
    max-width: 1200px;
    justify-content: center;
}

.content-container .about-container .project-contact{
  grid-area: prosoc;
  display: grid;
  grid-template-areas: 
  "projects contact";
  gap: 0px 30px;
}

.project-contact .yellow-and-contact{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 46px;
  border-radius: 30px;
  gap: 30px;
  background-color: var(--primary-color);
  border-bottom: 5px solid var(--accent-color);
}

.widget .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  line-height: 1em;
  gap: 10px;
}

.widget h1.title{
  font-size: 2em;
  font-weight: 400;
  color: var(--accent-color);
}

.widget h1.subtitle{
  font-size: 1em;
  font-weight: 300;
  color: #5b5b66;
}

.widget p.content{
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--text-color);
}

.widget.about {
  grid-area: about;
}

.widget.about .image{
  width: 224px;
  height: 224px;
  position: relative;
  overflow: hidden;
  border-radius: 30px 0;
  flex: none;
}

.widget.about .image .me-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.widget.projects {
  grid-area: projects;
  flex-direction: column;
  transition: transform 0.3 ease;
}

.widget.projects:hover {
  transform: scale(1.1);
}

.project-contact .image {
  width: 145px;
  height: 145px;
  position: relative;
  overflow: hidden;
  border-radius: 30px 0;
}

.widget.projects .icon {
  background-color: var(--background-color);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.widget.projects .icon .project-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.yellow-rect{
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.widget.contact {
  width: 100%;
  height: 236px;
  justify-content: center;
  align-items: center;
  grid-area: contact;
  flex-direction: column;
}

.widget.contact .icon {
  background-color: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.widget.contact .icon .contact-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: all 0.3s ease-out;
}
.widget.contact .icon .contact-icon:hover{
  transform: scale(1.1);
}

.toolkit-container{
  grid-area: toolkit;
}

.widget.toolkit {
  padding: 20px 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

.widget .section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.widget .section-header .titles {
  align-items: flex-start;
}

.widget.toolkit .section-header .icon{
  background-color: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.widget.toolkit .section-header .icon .tool-icon{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.widget.toolkit .toolkit-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.widget.toolkit .toolkit-list .skill-group .skill {
  display: flex;
  padding: 2px;
  align-items: center;
  gap: 10px;
}
.widget.toolkit .toolkit-list .skill-group .skill h4{
  font-size: 1.2em;
  font-weight: 400;
  line-break: strict;
  color: var(--text-color);
}

.widget.toolkit .toolkit-list .svg-icon {
  fill: var(--accent-color);
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.testimonials-container {
  grid-area: testi;
}

.widget.testimonials {
  padding: 20px 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

.widget.testimonials .section-header .icon{
  background-color: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.widget.testimonials .section-header .icon .testimonial-icon{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.widget.testimonials .testimonial-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.widget.testimonials .testimonial-list .testimonial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 30px;
  background-color: var(--background-color);
}

.widget.testimonials .testimonial-list .testimonial .testimonial-text p{
  font-size: 1.0em;
  font-weight: 300;
  line-height: 1.0em;
  color: var(--text-color);
}

.widget.testimonials .testimonial-list .testimonial .testimonial-author h4{
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--accent-color);
}
.widget.testimonials .testimonial-list .testimonial .testimonial-author h5{
  font-size: 1.0em;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--text-color);
}

/* Desktop Footer */

footer {
  position: sticky;
  top: 100vh;
  bottom: auto;
  left: auto;
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: var(--primary-color);
  border-top: 5px solid var(--accent-color);
}
footer .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

footer .container .navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer .container .navbar .menu {
  display: flex;
  align-items: center;
  gap: 49px;
  margin: 0;
  padding: 0;
}

footer .container .navbar .menu li a{
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 26px 0;
  color: var(--text-color);
  transition: color 0.3s ease, transform 0.3s ease;
}
footer .container .navbar .menu li a:hover{
  color: var(--accent-color);
  transform: scale(1.1);
}
footer .container .navbar .menu li.active a{
  color: var(--accent-color);
}

footer .container .copy-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}
footer .container .copy-socials .copy{
  font-size: 1em;
  font-weight: 300;
  color: var(--text-color);
  position: absolute;
  left: 0;
  padding-left: 20px;
}
footer .container .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .container .socials .icon{
  width: 20px;
  height: 20px;
  object-fit: cover;
  transition: all 0.3s ease-out;
}

footer .container .socials .icon:hover{
  transform: scale(1.5);
}



/* Responsive */
@media (max-width: 1170px) {
  .content-container .about-container{
    grid-template-areas: 
    "about"
    "prosoc"
    "toolkit"
    "testi";
    gap: 20px, 30px;
  }
}

@media (max-width: 900px) {
  .widget.toolkit .toolkit-list .skill-group .skill h4{
    font-size: 0.8em;
  }
}

@media (max-width: 778px) {
  .widget.about{
    flex-direction: column;
    padding: 30px;
  }
  .widget.toolkit {
    padding: 20px 40px;
  }
  .widget.testimonials {
    flex-direction: column;
    padding: 20px 40px;
  }
}

@media (max-width: 630px) {
  .main-container .header-area .container .navbar{
    display: none;
  }
  .main-container .header-area .container .mobile-header{
    display: flex;
  }
}

@media (max-width: 600px) {
  .content-container .about-container .project-contact {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas: 
    "projects"
    "contact";
    gap: 30px;
  }
  .widget.toolkit {
    flex-direction: column;
    align-items: center;
  }
  footer .container .navbar .menu {
    gap: 30px;
  }
  footer .container .copy-socials {
    flex-direction: column;
  }
  footer .container .copy-socials .socials{
    padding-bottom: 10px;
  }
  footer .container .copy-socials .copy{
    position: relative;
    padding-left: 0;
  }
}

/* Keyframes */

/* Fade in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  