/* GOOGLE FONTS STYLES */
.ubuntu-light {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: italic;
  }




/* ACTUAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #313131;
    animation: fadeIn 1.2s ease forwards;
    transition: #f0f2f5 0.3s ease, color 0.3s ease;
}

a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
    line-height: 1em;
}

ul {
    list-style: none;
}

.parallax-container{
    background-color: #313131;
    background-image: linear-gradient(to right, rgba(224, 224, 224, 0.05) 2px, transparent 1px), linear-gradient(to bottom,rgba(224, 224, 224, 0.05) 2px, transparent 1px);
    background-size: 30px 30px;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

main {
  position: relative;
  z-index: 1;
}

.header-area {
    background-color: #3d3d3d;
    border-bottom: 5px solid #fcdf59;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}

.name {
  margin: 0;
  padding-inline: 20px;
}

.first-name{
    font-size: 2em;
    font-weight: 700;
    color: #fcdf59;
    margin: 0;
    padding: 0;
}
.last-name{
    font-size: 2em;
    font-weight: 700;
    color: #f7f9fc;
    margin: 0;
    padding: 0;
}

.header-area .navbar {
  margin: 0;
  padding: 0;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-area .navbar .menu {
  display: flex;
  align-items: center;
  gap: 49px;
  margin: 0;
  padding: 0;
}

.header-area .navbar .menu li a{
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 26px 0;
  color: #f7f9fc;
}

.header-area .navbar .menu li.active a{
  color: #fcdf59;
}

.spacer {
  display: inline-block;
  padding: 12px 30px;
}

.content {
  padding-top: 20px;
}

.content .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    height: 100vh;
}

.widget {
    display: flex;
    align-items: center;
    padding: 50px 46px;
    margin: 20px 0;
    border-radius: 30px;
    gap: 20px;
    background-color: #3d3d3d;
    border-bottom: 5px solid #fcdf59;
}

.widget.about {
  width: 50%;
  position: relative;
}

.widget.about h1{
  font-size: 2em;
  font-weight: 400;
  color: #fcdf59;
}

.widget.about p{
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
  color: #f7f9fc;
}

.widget.about .image{
  width: 224px;
  height: 224px;
  position: relative;
  overflow: hidden;
  border-radius: 30px 0;
  flex: none;
}

.widget.about .image .me-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-console-container {
    margin: 0;
    padding: 0 1em;
    background: #1f2b37;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-bottom: 5px solid #fcdf59;
    border-radius: 24px;
}

.console-content {
    height: 350px;
    padding: 1em;
}

.console-content a {
    color: #fcdf59;
    display: block;
    padding: 12px;
    text-decoration: none;
}

/* Keyframes */

/* Blinker animation */
@keyframes blinker {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Error Shake */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Fade in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  